body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff4500;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

#home {
    background-image: url('https://media.istockphoto.com/id/686759326/photo/fresh-salmon-and-shrimp-with-fresh-aromatic-spices-and-vegetables-background.jpg?s=612x612&w=0&k=20&c=HpU_XaAFbIVQsG2jJPBe4G0FpLJ32rLs0zWcmS4o4pE=');
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.885);
    padding: 100px 20px;
}

#home .home-content {
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;

}
.home-content h2 {
    font-size: 4em; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#menu .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.menu-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#chatbot-btn {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#chatbot-frame {
    width: 300px;
    height: 400px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
    }
}
